* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(31, 54, 85);
  color: aliceblue;
}

nav ul {
  list-style: none;
  padding-top: 10px;
  
  
}

nav ul li {
  display: inline;  
  margin: 0 10px;
  background-color: rgb(31, 54, 85);  
}

nav ul li a {
  padding-top: 10px;
  text-decoration: none;
  color: aliceblue;
}

nav ul li a:hover {
  text-decoration: underline;
}